.ba-slider {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.ba-slider img {
    height: 100%;
    display:block;
}

.ba-slider .resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.handle {
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
  background: white;
  cursor: ew-resize;
}

.handle:after {
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -30px;

    content: url(../lands/sliderbutton.png);
    color:#e76e66;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
}

.handle.draggable:after {
    line-height:50px;
    font-size:30px;
}
