@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Coustard);
@font-face { font-family: NexaBold; src: url('NexaBold.otf'); } 

html, body {
	margin:0; 
	height:100%; 
	width:100%;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden {
	display: none;
}

h1 {
	margin: 0;
	padding: 120px 0 8px 0;
	width: 650px;
	font-family: "NexaBold", sans-serif;
	text-transform: uppercase;
	font-size: 80px;
	letter-spacing: 8px;
	color: #00FBE2;
	opacity: 0.7;
}

.end h1 {
	margin: 0 auto;
	padding: 0;
	font-size: 42px;
}

#take-action h1 {
	padding: 0;
	font-size: 38px;
	padding-bottom: 30px;
	line-height: 54px;
	letter-spacing: 4.2px;
}

h2 {
	margin: 0;
	font-family: "NexaBold", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2.4px;
	color: white;
	top: 0;
	padding-top: 75px;
}

h3 {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	width: 420px;
	color: white;
}

#take-action h3 {
	width: 450px;
}

h4 {
	margin: 0;
	margin-bottom: 20px;
	font-family: "NexaBold", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2.25px;
	color: #00FBE2;
}

.card h4, #message h4 {
	margin: 50px auto -50px auto;
	padding: 0;
	text-align: center;
	color: white;
	line-height: 31px
}

#cop21 h4 {
	margin-bottom: 50px;
}

.card-container h4, #cop21-content h4{
	margin: 0 auto;
	text-align: center;
	color: black;
	padding-bottom: 15px;
}

.quote h4 {
	margin: 0 auto;
	letter-spacing: 3.33px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

.end h4 {
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 60px;
	font-size: 15px;
}

h5 {
	margin: 0;
	padding-bottom: 4px;
	font-family: "Source Sans Pro", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 3.5px;
	color: white;
}

h6 {
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 46px;
	font-family: "Vollkorn", serif;
	font-weight: 400;
	font-style: italic;
	font-size: 48px;
	color: white;
}

.story h6 {
	padding: 20px 0 0 0;
	text-align: left;
	width: auto;
	line-height: 56px;
}

#future-quote h6 {
	text-align: center;
	width: 650px;
}

.end h6 {
	font-size: 26px;
	letter-spacing: 1.8px;
	padding-top: 25px;
	padding-bottom: 10px;
	width: auto;
}

#title h6 {
	text-align: center;
	color: #00FBE2;
	font-size: 34px;
	letter-spacing: 2px;
}

p {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	width: 400px;
	color: white;
	-webkit-animation-duration: 5s;
  	-moz-animation-duration: 5s;
}

.story p {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	padding-top: 25px;
	width: 90%;
}

.card p {
	color: black;
	text-align: left;
	width: auto;
	padding-top: 15px;
}

.ba-description {
	position: absolute;
	z-index: 100;
	left: 15%;
	bottom: 0;
	margin-bottom: 5%;
}

.ba-description p {
	font-size: 16px;
	line-height: 24px;
}

span {
	font-family: "Vollkorn", serif;
	text-transform: lowercase;
	font-style: italic;
	font-weight: 300;


}

a {
	text-decoration: none;
	color: white;
}

hr {
	background-color: white;
	height: 5px;
	width: 70px;
	border: none;
	-webkit-animation-delay: .3s;
  	-moz-animation-delay: .3s;
}

.card hr {
	background-color: black;
	height: 5px;
	margin: 0 auto;
	width: 50px;
	border: none;
}

form {
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}

/* HOME */

#fullscreen-bg {
	position: fixed;
	overflow: hidden;
	background-size: cover;
	height:100vh; 
	width:100vw;
}

video {
   	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 120px;
}

#title img {
	display: block;
	margin: auto;
}

.nextbutton {
	position: absolute;
	margin: 0 auto;
	width: 275px;
	background-color: #E76E66;
	font-family: "Source Sans Pro";
	font-weight: 600;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1.8px;
	text-align: center;
	padding: 10px 0 10px 0;
	top: 65%;
	left: 0;
	right: 0;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.end .nextbutton {
	position: relative;
	margin-top: 110px;
}

.nextbutton:hover {
	cursor: pointer;
	opacity: 0.7;
}

/* NAVIGATION */

.navbar {
	position: fixed;
	float: right;
	background-color: #131316;
	width: 95px;
	z-index: 100;
	top: 0;
	right: 0;
	text-align: center;
}

.menu-icon, .close-icon {
	position: absolute;
	margin-left: -19px;
	margin-top: 50px;
	left: 50%;
	width: 38px;
	height: 38px;
	transition: background-image .25s ease-in-out;
    -moz-transition: background-image .25s ease-in-out;
    -webkit-transition: background-image .25s ease-in-out;
}

.send-message-button {
	position: absolute;
	background-image: url("../menu/send-message-button.png");
	width: 65px;
	height: 50px;
	left: 50%;
	bottom: 0;
	margin-left: -32px;
	margin-bottom: 50px;
}

.send-message-button:hover {
	cursor: pointer;
}


.menu-icon {
	background-image: url("../menu/menu-icon.png");
}

.menu-icon:hover {
	background-image: url("../menu/menu-icon-hover.png");
}

.close-icon {
	background-image: url("../menu/close-icon.png");
	display: none;
}

.close-icon:hover {
	background-image: url("../menu/close-icon-hover.png");
}

.menu-icon:hover, .close-icon:hover {
	cursor: pointer;
}

.iconset {
	position: relative;
	margin: 0 auto;
	padding: 20px;
	width: auto;
	height: auto;
	vertical-align: middle;
	top: 50%;
	transform: translateY(-50%);
}

.icon {
	margin: 0 auto;
	padding: 10px 0 10px 0;
	text-align: center; 
	position: relative;
	width: 50px;
	opacity: .7;
}

.sub-icon, .selected {
	margin: 0 auto;
	padding: 10px 0 10px 0;
	text-align: center; 
	position: relative;
	width: 40px;
}

.selected {
	position: absolute;
}

.sub-icon {
	opacity: .25;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.sub-icon:hover {
	opacity: .75;
}

/* MENU */

#menuwrapper {
	overflow: hidden;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
}

.strip {
	position: relative;
	margin: 0;
	float: left;
	height: 100%;
	width: 20%;
	background-size: cover;
	font-family: "NexaBold";
	text-transform: uppercase;
	overflow: hidden;
}

.strip:hover {
	cursor: pointer;
}

.section-name {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: 15%;
	left: 0;
	right: 0;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1.8px;
	color: #00F0E7;
}

.strip-name {
	position: absolute;
	font-size: 22px;
	text-align: center;
	letter-spacing: 2.8px;
	line-height: 28px;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%,-50%);

}

.filter {
	position: relative;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.strip:hover .filter {
	opacity: 0;
}


#intro-strip {
	background-image: url("../menu/menuintro.png");
}

#lands-strip {
	background-image: url("../menu/menulands.png");
}

#government-strip {
	background-image: url("../menu/menugovernment.png");
}

#people-strip {
	background-image: url("../menu/menupeople.png");
}

#future-strip {
	background-image: url("../menu/menufuture.png");
}

/* Logo */

.logo img{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 40px;
	margin-left: 30px;
	opacity: 0.5;
	z-index: 100;
}

.logo:hover {
	cursor: pointer;
}


/* SECTIONS */

.section {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.overview, .explain, .story {
	width: auto;
	height: auto;
	margin-left: 15%;
	margin-right: 15%;
}

.end, .card {
	text-align: center;
	padding-right: 95px;
}

.graphic  {
	position: absolute;
	float: right;
	top: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	left: 50%;
}

.card-container {
	position: absolute;
	margin: 0 auto;
	margin-top: -120px;
	top: 50%;
	width: 400px;
	height: 230px;
	background-color: white;
	box-shadow: 0px 0px 10px #3C3C3C;
	float: left;
	margin-left: 50px;
}

.card-content {
	position: relative;
	margin: 0 auto;
	width: auto;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 60px 0 60px;
}

.quote {
	margin: 0 auto;
	padding-right: 95px;
	text-align: center;
} 

.quotation-mark {
	margin: 0 auto;
	font-family: "Coustard";
	font-size: 100px;
}

.story-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 50%;
	height: 100%;
}

.story {
	position: relative;
	padding-left: 15%;
	top: 50%;
	transform: translateY(-50%);
}

.location {
	font-weight: 300;
}


.play {
	width: 118px;
	height: 43px;
	background-image: url("../people/soundbutton.png");
	margin-top: 40px;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.pause {
	background-image: url("../people/stopsoundbutton.png");
}

.play:hover, .pause:hover {
	cursor: pointer;
	opacity: 0.7;
}

/* Introduction */

#intro {
	background-image: url("../introduction/introimage.png");
}

#warming-planet {
	background-color: #18243B;
}

#why {
	background-image: url("../introduction/why.png");
}

.why-default {
	position: absolute;
	top: 50%;
	font-style: italic;
	font-size: 18px;
	width: 230px;
	margin-left: 170px;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	padding: 20px;
	transform: translateY(-50%);
}

.why-default p {
	padding: 0;
	color: white;
}

.why-content {
	overflow: hidden;
	padding: 0 15% 0 15%;
}

#why-graphic {
	position: relative;
	float: right;
	width: 500px;
	height: 500px;
}

.above-below {
	width: 500px;
	height: 250px;
	opacity: 0.6;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#above-graphic {
	background-image: url("../introduction/above-faded.png");
}

#below-graphic {
	background-image: url("../introduction/below-faded.png");
}

#above-graphic:hover, #below-graphic:hover {
	opacity: 1;
	cursor: pointer;
}

#two-degrees {
	background-color: #3C6C8B;
}

#yellow-bar {
	position: fixed;
	background-color: #EBB238;
	width: 8.5px;
	height: 0px;
	left: 166px;
	top: 330px;
}

#temp-numbers {
	position: fixed;
	top: 110px;
	left: 220px;
}

#temp-numbers p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 25px;
	opacity: 0.5;
    cursor: pointer;
}

#temp-box {
	position: fixed;
	top: 305px;
	left: 290px;
	width: 50px;
	padding: 10px;
	background-color: #0D3A56;
}

#temp-image {
	background-image: url("../introduction/temperature.png");
	height: 500px;
	width: 500px;
	background-repeat: no-repeat;
}

#intro-end {
	background-image: url("../introduction/introend.png");
}

/* Lands */

#lands {
	background-image: url("../lands/landsimage.png");
}

#pacific-atolls {
	background-image: url("../lands/kingtides.png");
}

#map {
	background-color: #000;
}

.map-img {
	vertical-align: middle;
}

.map-spot {
	background-image: url("../lands/map-spot.png");
	width: 80px;
	height: 80px;
}

#king-tides {
	background-color: #18243B;
}

#lands-quote {
	background-image: url("../lands/landsquote.png");
}

#before-after {
	background-image: url("../lands/after.png");
}

#lands-end {
	background-image: url("../lands/landsend.png");
}

/* Government */

#government {
	background-image: url("../government/governmentimage.png");
}

#climate-migration {
	background-color: #246AA5;
}

#government-quote {
	background-image: url("../government/governmentquote.png");
}

#cop21 {
	background-image: url("../government/cop21.png");
}

#cop21-wrapper {
	overflow: hidden;
	padding-bottom: 5%;
}

#cop21-card {
	background-image: url("../government/cop21-card.png");
	margin: 0 auto;
	width: 720px;
	height: 350px;
}

#cop21-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 200px;
	padding-right: 70px;
}

#cop21-links {
	float: left;
}

#cop21-links p{
	color: white;
}

#government-end {
	background-image: url("../government/governmentend.png");
}


/* People */

#people {
	background-image: url("../people/peopleimage.png");
}

#daughter {
	background-image: url("../people/story-daughter.png");
}

#saltywater {
	background-image: url("../people/story-saltywater.png");
}

#identity {
	background-image: url("../people/story-identity.png");
}

#graves {
	background-image: url("../people/story-graves.png");
}

#people-end {
	background-image: url("../people/peopleend.png");
}

/* Future */

#future {
	background-image: url("../future/futureimage.png");
}

#global-issue {
	background-color: #18243D;
}

#future-quote {
	background-image: url("../future/futurequote.png");
}

#take-action {
	background-image: url("../future/take-action.png");
}

#message {
	position: absolute;
	background-color: #E76E66;
	width: 420px;
	height: 100%;
	top: 0;
	right: 0;
	margin-right: 95px;
}









